doctype html
html
    head
        title GraduandoQuest
        script(type='text/javascript', src='vendor/webcomponentsjs/webcomponents-lite.js')
        link(rel='import', href='/components/graduando-quest')
    body
        graduando-quest