link(rel='import', href='/bower_components/app-elements/app-elements.html')
link(rel='import', href='/bower_components/iron-icons/iron-icons.html')
link(rel='import', href='/bower_components/paper-button/paper-button.html')
link(rel='import', href='/bower_components/paper-icon-button/paper-icon-button.html')
link(rel='import', href='/bower_components/paper-menu/paper-menu.html')
link(rel='import', href='/bower_components/paper-item/paper-item.html')

dom-module(id='professor-page')
    template
        div.
            Professor Page

    script.
        Polymer({
            is: 'professor-page',
            properties: {
                data: Object,
                name: {
                    type: String,
                    reflectToAttribute: true
                }
            }
        })
